#cta_bar.bottom-10
  .inner.cf
    .row
      .pull-left.span10
        %h2 Learn More About Instant Reports And Weather Solutions
        %p
        %h4
          Start Preparing Your Reports And Monitor Weather Today
      .pull-right.top-20
        =link_to "Get Started", new_user_registration_path, :class => "btn btn-primary"
