#hero
  .container
    .row
      .span7
        %p
        %h1
          Instant Weather.
        %p
        %h1
          Instant Alerts.
        %p
        %h1
          Instant SWPPP.
        %hr
        %p
        %h3
          Never be late with reports or miss a rain event with StormSavvy

          %p.top-20
            =link_to "Sign Up"
            or
            =link_to "Learn More", "", :class => "btn btn-primary"
      .span5
        = image_tag "/assets/home/hero.png"
